#container {
    background: rgb(248, 248, 248);
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
header {
    width: 100%;
    height: 100px;
    background: hsl(54, 100%, 60%);
}
section {
    background: #fafafa;
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
}
section > aside {
    width: 30%;   /* float: left; */
    height: 100%;
    background: rgb(198, 230, 212);
}
section > main {
    width: 70%;
    height: 100%;
    background: #e8f8d6;
}
footer {
    background: dimgray;
    width: 100%;
    height: 100px;  /* clear: both; */
}
